
.fl {float:left;}
.fr {float:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.dpnone{display: none;}
a:link, a:visited, a:focus, a:hover, a:active {
    text-decoration: none;
    color: #6c9;
    padding: .8em 1.2em;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}


html, body {
    font-size: 10px;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333;
}
body {
    font-size: 16px;
    font-size: 1.6rem;
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei", sans-serif;
}

.wrapper {
    min-width: 320px;
    max-width: 1344px;
    margin: auto;
    background-color: #fff;
}
ul {
    position: relative;
    width: 100%;
    padding: 20px 0;
}
li {
    border-radius: 5px;
    overflow: hidden;
    width: 298px;
    margin: 8px 18px;
    float: left;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px 0 #ddd;
}
li .imgWrap {
    height: 200px;
    width: 100%;
    border-bottom: 1px solid #eee;
}
li .imgWrap img {
    height: 200px;
    width: 100%;
}
li .imgWrap {
    background-color: #eee;
}
li .ctWrap {
    margin: 0;
}
li .ctWrap p {
    margin: 18px 12px;
}
li .ctWrap .title {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
}
li .ctWrap .desc {
    height: 138px;
}
li .btnWrap {
    margin: 10px;
}
.btn:link, .btn:visited, .btn:focus, .btn:hover, .btn:active {
    display: block;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
}
.btn:hover {
    opacity: .8;
}
.btn:active {
    opacity: .9;
}
.disable:hover, .disable:active {
    opacity: 1;
}
li .btn {
    display: block;
    padding: .8em 2.2em;
    background-color: #f93;
    box-shadow: 0 1px 4px 0 #ddd;
}
li .disable {
    background-color: #aaa;
    cursor: default;
}
li .page {
    background-color: #6c9;
}


@media screen and (max-width: 1344px) {
    .wrapper {
        width: 1008px;
    }
}
@media screen and (max-width: 1008px) {
    .wrapper {
        width: 672px;
    }
}
@media screen and (max-width: 672px) {
    .wrapper {
        width: 320px;
    }
    li {
        margin: 8px 10px;
    }
}

.footer {
    color: #999;
    border-top: 1px solid #ddd;
    padding: 18px 0;
    margin: 18px 0;
}
.footer p {
    text-align: center;
    margin: 0;
    padding: 0 20px;
}