<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <title>ezImageViewer</title>
    <link rel="stylesheet" href="./style.css?v=1.1">
    <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script type="text/javascript" src="./data/list-result.js"></script>
</head>

<body>
    <div id="main">
        <header class="pageHeader">
            <input id="search" type="search" v-model="searchKeyword" :placeholder="searchPhMsg" @input="onSearch" autocomplete="off">
        </header>
        <ul class="tnlist clearfix">
            <li v-for="(url, i) in list" :class="{ selected: currentIndex === i }">
                <div class="imgBox">
                    <img class="tn" :src="url + sep + ss.tn" alt="filename" :data-clipboard-text="url + sep + ss.aw" @click="onSelect" :data-index="i">
                </div>
            </li>
            <li class="info" :class="'_' + listLeft"><div>{{ listLeft > 3 ? listLeft + '...' : listLeft }}</div></li>
            <li class="btn" :class="{dpnone: listLeft === 0}" @click="fn_next(5)"><div>{{ listLeft > 5 ? 'next ' + 5 : 'next all'}}</div></li>
            <li class="btn" :class="{dpnone: listLeft < 5}" @click="fn_next(20)"><div>{{ listLeft > 20 ? 'next ' + 20 : 'next all'}}</div></li>
            <li class="btn" :class="{dpnone: listLeft < 20}" @click="fn_next(50)"><div>{{ listLeft > 50 ? 'next ' + 50 : 'next all'}}</div></li>
        </ul>
        <footer class="pageFooter">
            <p>{{ statusMsg }}</p>
        </footer>
    </div>
    <script type="text/javascript" src="./index.js"></script>
</body>

</html>
